.bg-nav {
    background-image: linear-gradient(to right, #324555, #131B20);
}
.bg-car {
    background-image: linear-gradient(to bottom, #324555, #131B20);
}
.color-dd{
    color: #FB683A;
}
.color-text-hover:hover{
    color: #FB683A;
    border-bottom: #FB683A 2px solid;
    margin-top: 2px;
}
.color-dd-account{
    color: #FB683A;
}
.color-dd-account:hover{
    border-bottom: solid white 2px;
    margin-top: 2px;
}
.bg-btn{
    background-color: #FB683A;
}
.bg-label{
    background-color: #6B757D;
}
.bg-btn:hover{
    background-color: #E86135;
}
.garis{
    margin: auto;
    width: 80%;
    border: #FB683A 1px solid;
}
.border-iklan{
    border-bottom: #FB683A 1px solid;
}
.bg-body{
    background-color: #F0F0F0;
}
.bg-text{
    background-color: #324555;
    opacity: 80%;
}
.bg-text:hover{
    color: #FB683A;
}
.bg-iklan{
    background-color: #fff;
}
.bg-iklan:hover{
    background-image: linear-gradient(to bottom, #324555, #131B20);
    color: #fff;
}
.text-rental{
    color: #0582DE;
}
.garis-rental{
    margin: auto;
    width: 100%;
    border: #0582DE 1px solid;
}
li>ul {
    transform: translatex(100%) scale(0)
}

li:hover>ul {
    transform: translatex(101%) scale(1)
}

li>button svg {
    transform: rotate(-90deg)
}

li:hover>button svg {
    transform: rotate(-270deg)
}

.group:hover .group-hover\:scale-100 {
    transform: scale(1)
}

.group:hover .group-hover\:-rotate-180 {
    transform: rotate(180deg)
}

.scale-0 {
    transform: scale(0)
}

.min-w-32 {
    min-width: 8rem
}
.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #FB683A;  /*Set to match the Tailwind colour you want the active one to be */
}

.bg-form{
    background-color: #A0A0A0;
}